* {
    box-sizing: border-box;
}

html{
    background: url("/pbback.jpg") no-repeat center center fixed;
  background-size: cover;
  /* height: 100%; */
  /* overflow: hidden; */
}

body {
    /* height: 100vh;
    background-image: url("/pbback.jpg")   ;
    background-origin: content-box;
    background-size: cover; */
    /* background-repeat: no-repeat; */
    font-family: 'Nunito', serif;
    width: 100%;
    /* height: 100vh; */
    /* margin-right: auto; */
}

main{
    height: 100vh;
    overflow: scroll;
}

.wrapper{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.logo-name{
    font-size: 40px;
    text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
    position: relative
}

.pinot-1{
    height: 480px;
    width: 320px;
    position: absolute;
    /* top: -15px; */
    bottom: -40px;
    left: 50px;
    transform: rotate(-22deg);
}

.pinot-2{
    height: 450px;
    width: 290px;
    position: absolute;  
    top: 80px;
    right: 20px;
    transform: rotate(22deg);

}

.registration{
    
    position: absolute;
    top: 40px;
    color: #ffffff;
    text-align: center;
    border-radius: 12px;
    margin: auto 0;
    transform: translateX(100%);
    width: 420px;
    height: 550px;
    padding: 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #72767d
}

.header{
    position: relative;
    display: flex;
    background-color: pink;
    border-radius: 12px;
    justify-content: space-between;
    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;
    /* margin: 40px; */
    margin-bottom: 20px;
    margin-top: 30px;

}

#menus{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d6d7da;
    border-radius: 12px;
    z-index: 10;
    padding: 4px;
}

#menus div{
    text-decoration: none;
    padding: 6px;

}

#menus div:hover{
    background-color: #72767d;
}

.header h1{
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
    text-shadow: none

}

.wrapper h1{
    margin-bottom: 5px;
    text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -2px pink, -2px 0 white, 1px 2px white, 1px 1px white, 0 -2px white;;

}

.profilePic{
    /* background-color: black; */
    /* border: 2px solid black; */
    border-radius: 50%;
    height: 110px;
    width: 110px;
    background-color: white;
    object-fit: cover ;
    position: relative;
}

.profilePic:hover{
    cursor: pointer;
    opacity: 0.8;
    
    transition: all 100ms;
}

.hovered{
    position: absolute;
    color: white;
    right: 105px;
    top: 140px;
    transition: all 100ms;
}

.hovered:hover{
    cursor: pointer;
}

.profileContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    /* border: 2px solid black; */
    height: 30em;
    /* margin: 0 40px ; */
    width: 500px;
    /* padding: 12px; */
    background-color: #36393f;
    color: #d6d7da;
    /* border: 2px solid #202225; */
    border-radius: 12px;
}

.profileContainer img{
    height: 100px;
    position: absolute;
    top: 50px;
    left: 60px;
    align-self: center;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profileRectangle{
    background-color: #d6d7da;
    height: 120px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.profiles{
    display: flex;
    flex-direction: column;
    background-color: #72767d;
}


.otherProfile{
    background-color: #72767d;
    display: flex;
    flex-direction: column;
}

.multi-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 80px;
    border-radius: 12px;
}

.wrapperRouter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-top: 30px;
}

.textContainer{
    height: 100px;
    /* width: 650px; */
    background-color: transparent;
    position: relative;
    border-radius: 6px;
    padding-left: 8px;
}

textarea{
    outline: none;
    border: none;
    caret-color: #d6d7da;
    color: #d6d7da;
    background-color: #202225;
    border-radius: 8px;
    resize: none;
    height: 100px;
    width: 100%;
    padding: 12px;
}

.textareaBtns{
    display: flex;
    justify-content: space-between;
}

.btns{
    outline: none;
    border: none;
    height: 30px;
    width: 130px;
    background-color: #72767d;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

.btns:hover{
    cursor: pointer;
    background-color: #3a9459;
    transition: all 100ms;
}

#editBtn{
    position: absolute;
    bottom: -40px;
}






.login{
   position: absolute;
    top: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 12px;
    margin: auto 0;
    transform: translateX(60%);
    width: 550px;
    height: 400px;
    padding: 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #72767d 
}

.logo{
    background-color: pink;
    height: 120px;
    width: 120px;
    /* transform: translateX(100%); */
    border-radius: 15%;
    object-fit: contain;
    border: 1px solid rgb(235, 196, 203);
    /* position: absolute;
    left: 50px;
    top: 85px; */
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input{
    color: #dcddde;
    outline: none;
    border: none;
    height: 40px;
    padding: 12px;
    background-color: #202225;
    border-radius: 5px;
}

input:focus{
    outline: 7px solid rgb(6, 127, 202);
    transition: all 200ms;
    
}

#submitReg{
    outline: none;
    border: none;
    height: 40px;
    background-color: pink;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

#submitReg:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: all 200ms;
}

.containerLinks{
    display: flex;
    justify-content: space-between;
}

.wronglog{
    /* position: absolute;
    top: 88px;
    left: 100px;
    color: rgb(157, 10, 10);
    font-weight: bold; */
    /* animation: slide 400ms   */
    animation: shake 400ms cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.mainWrapper{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.findWrapper{
    display: flex;
    flex-direction: column;
    background-color: #72767d;
    padding: 20px;
    width: 400px;
    height: 500px;
    overflow: scroll;
}




@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.modal{
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.formUpload{
    margin-top: 100px;
    background-color: pink;
    height: 200px;
    width: 500px;
    border-radius: 12px;
    box-shadow: 0px 5px 10px 0px black;
    text-align: center;
    
}

#submitPic{
    outline: none;
    border: none;
    height: 40px;
    background-color: #72767d;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

/* #file-choose {
    opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
} */


#submitPic:hover{
    cursor: pointer;
}

#closeBtn{
    background-color: #72767d;
    width: 50px;
    height: 50px;
    color: white;
    padding: 12px;
    font-size: 20px;
    border: 1px solid white;
    position: absolute;
    right: 340px;
    top: 40px;
    text-align: center;
    border-radius: 50%;
    opacity: 0.6;
    transition: opacity 100ms;

}

#closeBtn:hover{
    opacity: 1;
    cursor: pointer;
}


.allResults{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 30px;
    
}
.usersFind{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}



.usersFind img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}



/* @keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px) rotate(15deg);
    }
    50% {
        transform: translateX(5px) rotate(-15deg);
    }
    100% {
        transform: translateX(0);
    }
} */